[flake8]
ignore = E266,E203,W503,F541,W291,E501
max-line-length = 120
max-complexity = 18
select = B,C,E,F,W,T4,B9
exclude = 
	__pycache__
	.venv
    .git
    .tox
    .venv
    .vscode
    .pytest_cache
    .mypy_cache
    */__init__.py
per-file-ignores = 
    tests/*: F401